body{
    background-image : url("#{resource['images/LoginSignin_layout.png']}");
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
}

#page{
    width: 100%;
    min-height: 100%;
    margin: 0;
}

#content{
    width: 100%;
    padding-right: 250px;
    padding-left: 250px;
}

#footer{
	position: fixed;
    width: 100%;
    bottom: 0;
    padding-right: 250px;
    padding-left: 250px;
}

/*#header{
	position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
}*/

