#logo{
    float:left;
    margin-left : 30px;
    margin-top: -1%;
}

#navbar{
	display: inline-block;
    width:100%;
}

#divLinks{
    font-size: 18px;
    margin-top: 1%;
    font-weight:bolder;
}

.elt{
    display: inline-block;
    border-radius: 5px;
    color:white;
    padding:20px 20px 20px 20px;
}

.elt a{
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-size: 16px;
    color:white;
}