<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />

<title>Footer</title>

<link rel="stylesheet" href="../resources/css/style_home1.css"/> 

</head>
<body>

<div class="bas">

	<div class="yeet" style="float: left; display:contents">
		<p style="margin-left: 10%; ">YEET &copy; 2022</p>
	</div>
	
	<div class="menu-home1" style="float:right; margin-right:10%">
	        	<ul class="menu-links-home1">
 					<li class ="elt"><a href="Home.xhtml#Equipe">Notre équipe</a></li> 
 					<li class ="elt"><a href="Home.xhtml#Contact">Nous contacter</a></li> 
	            </ul>
	</div>
         
    <div style="clear:both"></div>
	

</div>
	
</body>
</html>
